* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(243, 231, 254);
    color: #e0aaff;
}

html {
    scroll-behavior: smooth;
}

#header {
    height: 100vh;
}



nav.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /*position: sticky;*/
    top: 0;
    z-index: 1000;
    background-color: #B57EDC;

    /*backdrop-filter: blur(8px);*/
    margin-bottom: 20px;
    height: 9%;

}

nav.navigation.nav-scrolled {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

nav.navigation:hover {
    box-shadow: 0 0 20px #BEADFA, 0 0 40px #BEADFA;
    transition: box-shadow 0.3s ease;
}



.logo {
    width: 150px;
}

ul.info {
    display: flex;
    gap: 30px;
    list-style: none;
}

ul.info li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

ul.info li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #BEADFA;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

ul.info li a:hover::after {
    width: 100%;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding: 125px 10% 0 10%;
    Add top padding to avoid overlapping */
    padding-top: 125px;
    padding-left: 10%;
    z-index: -1;
    overflow: hidden;
}

/* 

.main::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: #2a042e; 
  z-index: -1;
} */


.skill {
    min-width: 50%;
}

.skill h1 {

    font-size: 40px;
    color: #BEADFA;
}

.skill p {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.auto-type {
    color: #f06bff;
}

.bgimg img {
    /*height: 100vh;
    object-fit: cover;
    display: flex;
    align-items: flex-end;*/
    width: 100%;

    height: 100vh;
    object-fit: cover;

}

#about {
    padding: 60px 10%;
    position: relative;
    z-index: 1;
    background-color: #2a042e;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.about-col-1,
.about-col-2 {
    flex: 1;
    min-width: 300px;
}

.about-col-1 img {
    width: 79%;
    border-radius: 10px;
}

.subtitle {
    font-size: 40px;
    margin-bottom: 20px;
    color: #BEADFA;
}

.tab-titles {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.tab-link {
    cursor: pointer;
    font-weight: 500;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #BEADFA;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.tab-link.active-link::after {
    width: 100%;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul li {
    margin-bottom: 15px;
    list-style: none;
}

.tab-contents ul li span {
    color: #BEADFA;
    font-weight: bold;
}

#services {
    padding: 40px 10%;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.services-list div {
    background: #BEADFA;
    color: #2a042e;
    padding: 30px;
    border-radius: 8px;
    flex: 1;
    min-width: 250px;
    transition: 0.3s;
}

.services-list div:hover {
    background: #DFCCFB;
    transform: translateY(-8px);
}

.services-list div h2 {
    text-align: center;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    color: #2a042e;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 10%;
}

.contact h1 {
    color: #BEADFA;
}

@media (min-width: 768px) {


    .contact {
        flex-direction: row;
    }

    .skill h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .row {
        justify-content: center;
    }

    .about-col-1 img {
        width: 50%;
        height: 90%;

    }

    .main {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .bgimg img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .skill {
        max-width: 100%;
    }

}

@media (max-width: 768px) {
    nav.navigation {

        gap: 10px;
    }

    ul.info {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    #home {
        margin-top: 100px;
    }
}


.container-left {
    line-height: 1.75;
}

.container-left,
.container-right {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    background: #2a042e;
    color: white;
    padding: 10px;
    border: 1px solid #BEADFA;
    border-radius: 6px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

form button {
    border: none;
    background-color: #BEADFA;
    padding: 12px;
    color: #2a042e;
    font-weight: 550;
    border-radius: 15px;
    height: 5vh;
    width: fit-content;
    min-width: 120px;
    padding: 10px 20px;
    align-self: center;
}

form button:hover {
    background-color: #DFCCFB;
}

#contact-icons a {
    margin-right: 15px;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

#contact-icons a:hover {
    color: #BEADFA;
}

#msg {
    color: #DFCCFB;
    padding-top: 15px;
    display: block;
    justify-self: center;
}

.services-list div {
    max-width: 350px;
}

.navigation-sidebar a {
    text-decoration: none;
    color: white;
    width: 100%;
}

.navigation-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(181, 126, 220, 0.2);

    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    gap: 10px;
    font-size: 18px;

    backdrop-filter: blur(8px);

}

@media (max-width: 768px) {
    .services-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {

    .logo {
        width: 100px;

    }

    .subtitle {
        font-size: 28px;
    }

    .skill h1 {
        font-size: 28px;
    }

    .skill p {
        font-size: 16px;
    }

    .hideOnMobile {
        display: none;
    }

    .tab-titles {
        /*flex-direction: column;*/
        /*justify-content: space-around;*/


    }

    /*.tab-link {

        width: 90px;
        margin-right: 70px;
        margin-left: 70px;
        margin-bottom: 20px;
        text-align: center;
    }

    .tab-contents {
        text-align: center;
    }

    .about-col-1 img {
        width: 100%;
    }*/
}



.main-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(243, 231, 254);
    z-index: -2;
}