* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body {
    background: rgb(27, 4, 34);
    color: #EFB6C8;
}

#header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.bgimg{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bgimg img{
   height: 90vh;
   width: auto;
   object-fit: contain;
}

.logo {
    width: 200px;

}

nav ul{

    list-style: none;

}

.info li a {
    text-decoration: none;
    color:  rgb(168, 136, 181);
    font-size: 18px;
    position: relative;

}

.info li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

.info li a:hover::after {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;

}


.info {
    flex: 0.5;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.auto-type {
    color: rgb(244, 81, 236);
}

.skill {
    margin-left: 10%;
}

.container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill p {
    text-transform: capitalize;
    font-size: 20px;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* about section */
#about{
    padding: 80px;
    color:rgb(168, 136, 181);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    border-radius: 15px;
    width: 100%;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    color: rgb(232, 106, 205);
    font-size: 60px;
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: rgb(244, 81, 236);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#services{
    padding: 0px 90px 30px 90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
    margin-top: 30px;
}

.services-list div{
    background-color: rgb(115, 70, 123);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.services-list div a{
    text-decoration: none;
    color: currentColor ;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    transition: color .5s;
}

.services-list div:hover{
    background-color:#EFB6C8 ;
    color: rgb(115, 70, 123);
    transform: translateY(-10px);
}

